.reviews {
  margin-bottom: 150px;
  @media (max-width: 900px) {
    margin-bottom: 100px;
  }
  overflow: hidden;

  h2 {
    margin-bottom: 60px;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    @media (max-width: 1024px) {
      max-width: 100%;
    }

    li {
      width: 150px;
      //height: auto;
    }
  }
}
