.reviews {
  margin-bottom: 150px;
  overflow: hidden;

  h2 {
    margin-bottom: 60px;
  }
  .technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      .img-wrap {
        img {
          width: 210.69px;
          height: 38.388px;
          flex-shrink: 0;
        }
      }
    }
  }
}
