.card {
  padding: 36px 24px;
  border-radius: 23px;
  border: 1px solid rgba(54, 55, 73, 0.43);
  background: linear-gradient(103deg, #04071D 16.66%, #0C0E23 81.61%);
  min-height: 60dvh;

  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  //.img-wrap {
  //  margin-bottom: 24px;
  //}
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .content__title {
      .title {
        margin-bottom: 16px;
      }
      //.body {
      //}
      margin-bottom: 50px;
      @media (max-width: 900px) {
        margin-bottom: 35px;

      }
    }
  }
}

.card__img {
  margin-bottom: 24px;
  border-radius: 23px;
  border: 1px solid rgba(54, 55, 73, 0.43);
  .img-wrap {
    max-height: 330px;
    overflow: hidden;
    padding: 50px 50px 0 50px;
    img {
      border-radius: 10px;
      transform: rotate(5deg);
    }
  }
}
.content__items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons {
    display: flex;
    gap: 10px;
    .icon {
      img {
        object-fit: contain;
        width: 35px;
        height: 35px;
      }
    }
  }
}
.check-out {
  color: #CBACF9;
  &:hover, &:focus, &:active {
    scale: 1.1;
    cursor: pointer;
  }
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.5rem */
  letter-spacing: -0.03rem;
  span {
    margin-right: 8px;
    font-size: 1rem;
  }
}