.contact-page {
  min-height: 100dvh;
  padding: 75px 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //@media (max-width: 768px) {
  //  margin-top: -50px;
  //}

  h1 {
    margin-bottom: 20px;
  }

  .subtitle {
    color: #C1C2D3;
    text-align: center;
    margin: 0 auto 40px;
    max-width: 700px;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: -0.02rem;
  }
}
