.contact-page {
  padding: 200px 0 120px;
  @media (max-width: 900px) {
    padding: 10px 0 60px;
  }
  flex-grow: 1;
  min-height: 100dvh;

  h1 {
    margin-bottom: 20px;
  }

  .subtitle {
    color: #C1C2D3;
    text-align: center;
    margin: 0 auto 40px;
    max-width: 700px;
    font-size: 1.125rem;
    line-height: 150%;
    letter-spacing: -0.02rem;
  }
}