.btn {
  color: #FFF;
  font-family: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.35rem */
  letter-spacing: -0.03rem;

  display: inline-flex;
  padding: 22px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 14px;
  border: 1px solid rgba(105, 113, 162, 0.40);
  background: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
  min-width: 200px;
  height: 60px;

  &.small {
    height: 40px;
    width: 200px;
  }

  &.center {
    align-self: center;
  }
  svg {
    fill: white;
  }

  &:hover {
    cursor: pointer;
    scale: 1.2;
    border: 1px solid rgba(105, 113, 162, 0.60);
    background: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
    transition: all 0.1s ease-in-out;
    color: #CBACF9;
    text-decoration: none;
    svg {
      fill: #CBACF9;
    }
  }
}