.quotes {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(85%, 780px);
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: none;
  -webkit-overflow-scrolling: auto;
  scrollbar-width: none; // firefox hide
  scroll-padding: 10px;

  li {
    scroll-snap-align: start;
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  user-select: none;
  cursor: grab;
}