

.second_part {
  h4 {

    &.centered {
      text-align: center;
    }
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 3;
    @media (max-width: 768px) {
      grid-area: unset;
    }

  }

  .div2 {
    grid-area: 2 / 1 / 3 / 3;
    @media (max-width: 768px) {
      grid-area: unset;
    }

  }

  .div3 {
    grid-area: 1 / 3 / 3 / 6;
    @media (max-width: 768px) {
      grid-area: unset;
      height: 300px;
    }
  }

  .img-wrap.down-scaled {
    scale: 0.7;
    top: -20px;
    right: -120px;
    position: relative;

    &.right-left-corner {
      bottom: -40px;
      top: unset;
    }
  }

  .div3 hgroup {
    width: 311px;
  }
  &.less-higher {
    grid-template-rows: repeat(2, 200px);
  }
  .btn {
    width: auto;
    padding: 30px 30px;
  }
}
.item__content.no-bg {
  background: none;
  justify-content: space-evenly;
  padding: 0;
}

.item__content.center {
  justify-content: center;
}
#profile_vanta {
  height: 100%;
}

