@use "./assets/__fonts.css";
$container: min(90%, 1200px);
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

ul, ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: $container;
  margin: 0 auto;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

  background-color: #000319;
  color: rgba(255, 255, 255, 0.87);

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}
button {
  cursor: pointer;
  border: none;
  background-color: unset;

  color: inherit;
}
h1 {
  color: #FFF;
  text-align: center;
  font-size: 4.5rem;
  //@media (max-width: 768px) {
  //  font-size: 4rem;
  //}
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 4.5rem */
  letter-spacing: -0.225rem;
}

h2 {
  color: #FFF;
  text-align: center;
  margin-bottom: 50px;

  font-size: 3rem;
  //@media (max-width: 1024px) {
  //  font-size: 1.7rem;
  //}
  //@media (max-width: 768px) {
  //  font-size: 1.5rem;
  //}
  //@media (max-width: 500px) {
  //  font-size: 1.3rem;
  //}
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 3rem */
  letter-spacing: -0.125rem;
}

h3 {
  color: #FFF;
  font-size: 1.875rem;
  //@media (max-width: 1024px) {
  //  font-size: 1.4rem;
  //}
  //@media (max-width: 768px) {
  //  font-size: 1.2rem;
  //}
  //@media (max-width: 500px) {
  //  font-size: 1rem;
  //}
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.25rem */
  letter-spacing: -0.01875rem;
}
h4 {
  font-size: 1.35rem;
  //@media (max-width: 1024px) {
  //  font-size: 1.2rem;
  //}
  //@media (max-width: 768px) {
  //  font-size: 1rem;
  //}
  //@media (max-width: 500px) {
  //  font-size: .8rem;
  //}
}
span.pink {
  color: #CBACF9;
  letter-spacing: -0.125rem;
}